@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-bg: #000000;
  --color-primary: #ffffff;
  --color-text: #ffffff;
  --breakpoint-md: 860px;
  --breakpoint-xs: 420px;
}

.circular-gradient {
  background: radial-gradient(circle, #444444 0%, transparent 70%);
}

#root {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}